/*=============== BASE ===============*/


/* The first rule resets the box-sizing of the html to border-box, 
    while the second one allows you to use the box-sizing property with a different value inside of your css
    without worrying that the universal selector will override it, giving you more flexibility */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* First we specify the line-height for the html and then we set the min-height to 100vh in order for it to fill the viewport.
    The next declaration is used for font smoothing on MacOS browsers.
    The next declaration is used so that text won`t automatically line-wrap when there isn't enough space to fit all of the characters on a single line. */
body {
    line-height: 1.5;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    overflow-wrap: break-word;
    text-rendering: optimizeSpeed;
    background-color: black;
    color: white;
    font-family: serif;
}

/* We reset the margins */
blockquote, body, dd, dl, figure, h1, h2, h3, h4, p {
    margin: 0;
}

 /* The first declaration turns these elements from inline elements to block elements while the second declaration
    prevents them to overflow their parent container*/ 
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* By default, buttons and inputs don't inherit typographical styles from their parents therefore we use this rule to force them to do so */
input, button, textarea, select {
    font: inherit;
}

 /* Remove list styles on ul, ol elements and reset margin and padding */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-bar {
    max-width: 77rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 15.5px;
    font-family: sans-serif;
}

.bottom-menu {
    display: flex;
    gap: 40px;

}

.brand-logo {
    width: 240px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    padding-bottom: 2px;
}

.top-menu {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    padding-top: 7px;
}

.box-container {
    display: flex;
    gap: 10px;
}

a:hover {
    color: #00adef;
}

.brand {
    padding-bottom: 6px;
    display: flex;
    align-items: flex-end;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 105rem;
    width: 100%;
    align-items: center;
}

.image {
    width: 100%;
    flex: 1;
}

.section-hero-inner {
    flex: 1;
    position: absolute;
    top: 4rem;
    color: white;
    overflow-wrap: break-word;
    max-width: 77rem;
    width: 100%;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

h1, h2, h3 {
    font-size: 44px;
    font-weight: lighter;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.search-box {
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    max-width: 105rem;
    width: 100%;
    padding: 25px 0;
}

form {
    max-width: 77rem;
    width: 100%;
    display: flex;
}

.form {
    background-color: #ececec;
    width: 100%;
    height: 35px;
    border: none;
    padding: 10px;
    font-size: 18px;
}

.hero button {
    background-color: rgb(44, 44, 44);
    color: rgb(219, 219, 219);
    border-radius: 1px;
    width: 140px;
    height: 33px;
    border: none;
}

.button {
    border: none;
}


.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 11px;
    height: 11px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
}

.gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 5px;
    width: 4px;
    height: 10px;
    background: currentColor;
    transform: rotate(-25deg);
    top: 7px;
    left: 6px
}

.gg-info {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 40px
}
.gg-info::after,
.gg-info::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    background: currentColor;
    left: 7px
}
.gg-info::after {
    bottom: 2px;
    height: 8px
}
.gg-info::before {
    height: 2px;
    top: 2px
}

@media screen and (max-width: 1024px)  {
    h1 {
        font-size: 32px;
    }
    
}

@media screen and (max-width: 768px)  {
    .section-hero-inner {
        position: relative;
        top: 0;
        left: 0;
        color: white;
        overflow-wrap: break-word;
        padding: 30px;
    }

    h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 550px)  {
    h1 {
        font-size: 22px;
    }
    
}